# TODO this does not work with arcanist, probably need to fix dev-tools-arcanist
parseable: true
skip_list:
  - '306' # Pipefail has issues https://github.com/ansible/ansible-lint/issues/497
  - '106' # Role name {} does not match ``^[a-z][a-z0-9_]+$`` pattern
  - '208' # Missing file permissions
use_default_rules: true
verbosity: 1
