distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
distributionUrl=https\://jfrog.elhub.cloud/artifactory/elhub-bin/elhub-gradle/0.1.3/elhub-gradle-0.1.3.zip
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
