{
    "load": ["extensions/src"],
    "aliases" : [
        {
          "trigger": "cleanup",
          "toolset": "arc",
          "command": [
            "!git",
            "clean",
            "-df",
            "&&",
            "git",
            "checkout",
            "--",
            "."
          ]
        },
        {
          "trigger": "init",
          "toolset": "arc",
          "command": [
            "!arc-init"
          ]
        },
        {
          "trigger": "ls",
          "toolset": "arc",
          "command": [
            "!ls",
            "-alh"
          ]
        },
        {
          "trigger": "lt",
          "toolset": "arc",
          "command": [
            "!ls",
            "--human-readable",
            "--size",
            "-1",
            "-S",
            "--classify"
          ]
        },
        {
          "trigger": "log",
          "toolset": "arc",
          "command": [
            "!git",
            "log",
            "--graph",
            "--topo-order",
            "--date=short",
            "--abbrev-commit",
            "--decorate",
            "--all",
            "--boundary",
            "--pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset %Cblue%G?%Creset'"
          ]
        },
        {
          "trigger": "patch-clean",
          "toolset": "arc",
          "command": [
            "!arc-patch-clean"
          ]
        },
        {
          "trigger": "set-exe",
          "toolset": "arc",
          "command": [
            "!git",
            "update-index",
            "--chmod=+x"
          ]
        },
        {
          "trigger": "status",
          "toolset": "arc",
          "command": [
            "!arc-status"
          ]
        }
    ]
}
